html{
    background-color:darkolivegreen;
    border:10px solid gold;
    border-radius: 5px;
}
.questionOne{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
#flag{
    width: 100px'
    height: 50px;

}
.correct{
color:green


}
.incorrect{
    color: red;
}