html{
    background-color:darkolivegreen;
    border:10px solid gold;
    border-radius: 5px;
}
.questionOne{
    display: flex;
    flex-direction: row;
    width: 150;
    
}
#flag{
    width: 250px;
    height: 150px;

}
.correct{
color:green


}
.incorrect{
    color: red;
}