/* Fill up the pages */
html{
    background-color:darkolivegreen;
    border:10px solid gold;
    border-radius: 5px;
    height: 100%;
    width:100%
}

.next{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    font-size: 24px;
}

.home{
    
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:center;
    
}

#homeBtn{
    text-align: center;
    width: 100px;
    height: 50px;
    height: 50px;
    width:100px;
    margin: 15px;
    border-radius: 12px;
}

#homeBtn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

a{
color: black;
text-decoration: none;
}
#instcon{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
#wordscon{
    display:flex;
    flex-wrap:wrap;
}
#well{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
}

#task{
    width: 800px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 25px;
}

#start{
    top: 250px;
    left: 400px;
    font-size: 100px;
    color: white;
    background-color: red;
    border: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    padding: 50px;
    
}

#inst{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 25px;
}

#words1{
    width: 200px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
}

#words2{
    width: 800px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 25px;
}

.startb{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.questionOne{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 24px;
    transition-duration: 0.4s;
}

#start:hover{
    box-shadow: 0 30px 40px 0 rgba(0,0,0,0.24), 0 42px 125px 0 rgba(0,0,0,0.19);
}
#incorrect11{
    height: 50px;
    width:100px;
    margin: 15px;
    border-radius: 12px;
}
#incorrect11:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#incorrect12{
    height: 50px;
    width:100px;
    margin: 15px;
    border-radius: 12px;
}
#incorrect12:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#correct1{
    height: 50px;
    width:100px;
    margin: 15px;
    border-radius: 12px;
}
#correct1:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#incorrect13{
    height: 50px;
    width:100px;
    margin: 15px;
    border-radius: 12px;
}

#incorrect13:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.questionThree{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    font-size: 24px;
    transition-duration: 0.4s;
    border-radius: 12px;
}
#incorrect21{
    height: 50px;
    width:100px;
    margin: 15px;
    border-radius: 12px;
}
#incorrect21:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#correct2{
    height: 50px;
    width:100px;
    margin: 15px;
    border-radius: 12px;
}
#correct2:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#incorrect22{
    height: 50px;
    width:100px;
    margin: 15px;
    border-radius: 12px;
}
#incorrect22:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#incorrect23{
    height: 50px;
    width:100px;
    margin: 15px;
    border-radius: 12px;
}
#incorrect23:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.questionFive{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    font-size: 24px;
    transition-duration: 0.4s;
    border-radius: 12px;
}
#incorrect31{
    height: 50px;
    width:100px;
    margin: 15px;
    border-radius: 12px;
}
#incorrect31:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#incorrect32{
    height: 50px;
    width:100px;
    margin: 15px;
    border-radius: 12px;
}
#incorrect32:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#correct3{
    height: 50px;
    width:100px;
    margin: 15px;
    border-radius: 12px;
}
#correct3:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#incorrect33{
    height: 50px;
    width:100px;
    margin: 15px;
    border-radius: 12px;
}
#incorrect33:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.questionSeven{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    font-size: 24px;
    transition-duration: 0.4s;
    border-radius: 12px;
}
#incorrect41{
    height: 50px;
    width:100px;
    margin: 15px;
    border-radius: 12px;
}
#incorrect41:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#incorrect42{
    height: 50px;
    width:100px;
    margin: 15px;
    border-radius: 12px;
}
#incorrect42:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#correct4{
    height: 50px;
    width:100px;
    margin: 15px;
    border-radius: 12px;
}
#correct4:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#incorrect43{
    height: 50px;
    width:100px;
    margin: 15px;
    border-radius: 12px;
}
#incorrect43:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.questionNine{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    font-size: 24px;
    transition-duration: 0.4s;
    border-radius: 12px;
}
#incorrect51{
    height: 50px;
    width:100px;
    margin: 15px;
    border-radius: 12px;
}
#incorrect51:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#incorrect52{
    height: 50px;
    width:100px;
    margin: 15px;
    border-radius: 12px;
}
#incorrect52:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#correct5{
    height: 50px;
    width:100px;
    margin: 15px;
    border-radius: 12px;
}
#correct5:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#incorrect53{
    height: 50px;
    width:100px;
    margin: 15px;
    border-radius: 12px;
}
#incorrect53:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/* Boring stuff down here */
#nextQuestion{
    height: 50px;
    width:100px;
    margin: 15px;
    border-radius: 12px;
    font-size: 14px;
    background-color: gold;
}

#finalScore{
    height: 50px;
    width:100px;
    margin: 15px;
    border-radius: 12px;
    font-size: 14px;
    background-color: gold;
}
#pics{
    width: 250px;
    height: 150px;
}
#pictures{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
}

#textBox{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
}

#forumq1[type=text]{
    border: 3px solid #929090;
    outline: none;
    transition: 0.5;
    -webkit-transition: 0.5s;
    /* Got webkit tansition from w3schools to make the inputs look better when they are selected */
}
#forumq1[type=text]:focus {
    border: 3px solid #555;
}
#forumq2[type=text]{
    border: 3px solid #929090;
    outline: none;
    transition: 0.5;
    -webkit-transition: 0.5s;
}
#forumq2[type=text]:focus {
    border: 3px solid #555;
}
#forumq3[type=text]{
    margin: 5px;
    border: 3px solid #929090;
    outline: none;
    transition: 0.5;
    -webkit-transition: 0.5s;
}
#forumq3[type=text]:focus {
    border: 3px solid #555;
}
#forum3btn{
    margin: 5px;
    margin-left:0%;
}
#forumq4[type=text]{
    border: 3px solid #929090;
    outline: none;
    transition: 0.5;
    -webkit-transition: 0.5s;
}
#forumq4[type=text]:focus {
    border: 3px solid #555;
}
#forumq5[type=text]{
    border: 3px solid #929090;
    outline: none;
    transition: 0.5;
    -webkit-transition: 0.5s;
}
#forumq5[type=text]:focus {
    border: 3px solid #555;
}
.correct{
background-color:green;
color: white;

}
.incorrect{
background-color: #D8232A;
color: white;
}
